<nav>
    <!-- <a href="../index.html"><img src="../apple-touch-icon.png"></a> -->
    <div class="nav-links" id="navLinks">
        <a class="with-icon" href="../koshari-defense/">Koshari Defense</a>
        <div class="social-links">
            <a class="icon-only" href="https://store.steampowered.com/app/3275770/Koshari_Defense" target="_blank">
                <div class="icon" id="steam-icon"></div>
            </a>
            <a class="icon-only" href="https://www.instagram.com/technomensa" target="_blank">
                <div class="icon" id="insta-icon"></div>
            </a>
            <a class="icon-only" href="https://peacefreak.itch.io/koshari-defense" target="_blank">
                <div class="icon" id="itchio-icon"></div>
            </a>
        </div>
    </div>
</nav>